<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<options>
    <option>
        <option_name>Option1</option_name>
        <option_value>LinearTrend</option_value>
    </option>
    <option>
        <option_name>Option2</option_name>
        <option_value>10</option_value>
    </option>
    <option>
        <option_name>Option3</option_name>
        <option_value>read only</option_value>
    </option>
</options>
